VENUE=deribit
SYMBOL=BTC-PERPETUAL
OB_DEPTH=20
DRY_RUN=true
TESTNET=false

DERIBIT_API_KEY=TjnLZDDa
DERIBIT_API_SECRET=JEJ1SEkeDrESYVmu55zSINjpfZF8QSMQUdtjpikXTzw

# Binance (optional secondary venue)
BINANCE_API_KEY=
BINANCE_API_SECRET=
